
<mat-sidenav-container>    
  <!-- Todoside Nav-->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-toolbar class="toolbar_bg"> 
        <h2>Filter</h2>   
        </mat-toolbar>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              <span class="list-items" (click)="filterColors('all')">
                <mat-icon>check</mat-icon> Show All
            </span> 
            </mat-list-option>
            <mat-list-option *ngFor="let color of colorsList" [value]="color.id" [style.backgroundColor]="color.colorCode" (click)="filterColors(color)">
            <span class="list-items">
                <mat-icon>check</mat-icon> Select
            </span> 
            </mat-list-option>
          </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>     
      <!-- Headder-->
        <mat-toolbar class="toolbar_bg">         
              <button mat-icon-button (click)="sidenav.toggle()"> <mat-icon>menu</mat-icon> </button>   
              NOTES
        </mat-toolbar>

        <!-- Note form -->
        <div class="col-lg-12 mb">
              <mat-card>                
                    <mat-form-field class="col-md-12">
                      <mat-label>Note</mat-label>
                      <textarea matInput placeholder="Enter text note" rows="5" cols="10" [(ngModel)]="note" name="note"></textarea>
                    </mat-form-field>      
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-2" *ngFor="let c of colorsList" [style.backgroundColor]="c.colorCode" style="padding: 20px;" (click)="saveTodo(c)" >&nbsp;&nbsp;</div>
                      </div>
                    </div> 
              </mat-card>
        </div>

        <!-- Cards View -->
        <div class="col-lg-12">
          <app-todo-presentation [data]="storeList$|async" [selectedColor]="selectedColor"></app-todo-presentation>
        </div>       
    </mat-sidenav-content>

</mat-sidenav-container>
