<mat-icon style="float: right; color: red; cursor: pointer;" (click)="DeleteNote()">delete</mat-icon>

<mat-dialog-content class="mat-typography">
    <mat-form-field class="col-md-12">
        <textarea matInput placeholder="Enter text note" rows="5" cols="10" [(ngModel)]="todo.note" name="note"></textarea>
      </mat-form-field>  
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="col-md-12">
        <div class="row">
          <div class="color_selection" *ngFor="let color of colors" [style.backgroundColor]="color.colorCode" style="padding: 10px;"  (click)="UpdateNote(color)">&nbsp;&nbsp;</div>
        </div>
      </div>   
</mat-dialog-actions>