.color_selection {
    width: 50px;
    margin: 0px 5px 10px 5px;
    border-radius: 7px;
    cursor: pointer;
}
.mat-dialog-content {
    display: block;
     margin: 0!important; 
     padding: 0!important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}